<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
{{>header}}
<p>Utilizes location coordinate data from the Mapbox API, and is given to the Dark Sky API, which returns the forecast values</p>
<img class="portrait" src="/img/me.jpg">
{{>footer}}
</body>

</html>